body
{
	background-image: url("Backroung img.jpg");
}

	.login_div1 , .login_div2
	{
		padding: 10px;
		float: none;
		border-radius: 0;
		background-color : peachpuff;
	
	}


#player1_name , #player2_name
{

	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}

